
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}
body{
    background-color: black;
}
.fondo{
    background-image: url(../img/fondo.jpg);
    height: 100vh;
}
h2{
    color: aliceblue;
}

i{
    color: white;
    font-size: 50px;
    
}

